:root {

    --fundo-principal:#f8f6f4;
    --fundo-produtos-principal:#fffefe;
    
}

*{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}


body{

    background-color: var(--fundo-principal);

    }


.bigSale{
    
    display: flex;
    background-color:#d4d6d7;
    padding: 2rem;
    margin: 10px;
    justify-self: center;
    justify-content: center;
    color: white;
    height: 5vh;
    width: 90vh;


    
}

.cabecalho{

    display:flex;
    margin: 1rem;
    
    
}



.cabecalho__direita{

   padding-left: 60%;
   padding-top: 10%;
   position: absolute;
   word-spacing: 15px;
    
}

#mostruario{

   display: flex;
   flex-direction: row;
   list-style-type: none;
   flex-wrap: wrap;
   justify-content: center;
   font-size: xx-small;
   align-content: center;


}


.mostruario__container{
    
    height: 30vh;
    width: 30vh;
    padding: 1em;
    margin: 10px;
    border-radius: 2em;
    background-color: var(--fundo-produtos-principal);

}

.mostruario__imagem{

    height: 15vh;
    width: 15vh;
    

}

