:root {
    --fundo-principal:#f8f6f4;
    --fundo-produtos-principal:#fffefe;
        }

*{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;

    }


body{
    background-color: var(--fundo-principal);

    }


.bigSale{
    background-color:#d4d6d7;
    position: relative;
    justify-content: center;
    text-align: center;
    color: white;
    margin: 20px 40px;
    padding: 5%;
   
    }

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;

    }



.cabecalho__direita{
    display: flex;
    margin-right: 40px;
    gap: 10px;

    }


.cabecalho__titulo{
    margin-left: 40px;
    
    }

.cabecalho__about{
    color:inherit;
    text-decoration: none;
    }

.cabecalho__home{
    color:inherit;
    text-decoration:none;
    }


.mostruario__nome{
    font-size:x-large;
    margin-left: 40px
    }

#mostruario{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type:none;
    justify-content: center;
    align-items: center;
    gap: 5px;
   
    }



#mostruario__container{
    
    padding: 10px;
    margin: 10px;
    background-color: white;
    text-align: center;
    box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.75);

    }

#mostruario__container:hover{

    transform: scale(0.95); 
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    }

.mostruario__imagem{

    width: 20vh;
    height: 20vh;
   
    
    }


.detalhes__body{

    background-color: var(--fundo-produtos-principal);
}

#detalhes-produto{

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

       
}
.detalhes__imagem{

    max-width: 20%;
    max-height: 20%;
}

.detalhes__titulo{

    font-size: large;
}

.detalhes__botao{
    color: inherit;
    padding: 10px;
    border: 2px solid black;
    text-decoration: none;
    border-radius: 10px;
}
.cabecalho__detalhes{
    display: flex;
    background-color:#f6f6f6;
    align-items: center;
    justify-content: space-between;
    
}
.rodape{
    display: flex;

}



.about__aviso{
    display: flex;
    justify-content: center;
    
}

@media (max-width: 600px){


}